* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #818181;
}
.page {
    max-width: 1270px;
    margin: 0 auto;
}
.wrapper {
    margin: 0 25px;
    margin-top: 10px;
}
.menu-list {
    display: flex;
    justify-content: space-between;
}
.left {
    display: flex;
    justify-content: center;
}
.right {
    display: flex;
    justify-content: center;
}
.option-two {
    padding-left: 25px;
}
.option-three {
    padding-right: 25px;
}
.styled {
    border: 0;
    line-height: 2;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: rgba(103, 136, 163, 1);
}
.styled:hover {
    background-color: rgba(103, 136, 163, 0.7);
}
.styled:active {
    box-shadow: inset -2px -2px 3px rgba(103, 136, 163, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.header {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-2 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.separator {
    position: relative;
    bottom: 6px;
}
.sub-header {
    font-size: 12px;
    font-family: Times New Roman;
}
.nav-sections {
    padding-top: 10px;
    border-top: 1px solid #E0E3E7;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: arial;
}
@media screen and (max-width: 1000px) {
    .nav-sections {
      display: none;
    }
}
.all-articles {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    border-top: 1px solid black;
    padding-top: 10px;
}
@media screen and (min-width: 1101px) {
    .ls-main-articles-container {
        border-right: 1px solid #D1D1D1;
        width: 20%;
        min-width: 225px;
        margin-right: 15px;
        padding-right: 8px;
    }
}
@media screen and (max-width: 1100px) {
    .ls-main-articles-container {
        border-right: 1px solid #D1D1D1;
        width: 30%;
        min-width: 190px;
        margin-right: 15px;
        padding-right: 8px;
    }
}
@media screen and (max-width: 1000px) {
    .ls-main-articles-container {
        width: 35%;
        min-width: 190px;
    }
}
@media screen and (max-width: 730px) {
  .ls-main-articles-container {
        display: none;
  }
}
.pre-headline {
    font-size: 10px;
    font-family: arial;
}
.l1-headline {
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    font-family: Times New Roman Bold;
}
.author {
    margin-bottom: 2px;
    font-size: 10px;
    color: #9A9A9A;
    font-family: Times New Roman;
}
.time {
    font-size: 10px;
    font-family: arial;
    color: #7A1111;
}
.author-and-time {
    display: flex;
    justify-content: flex-start;
}
.l2-headline {
    margin: 10px 0 5px;
    font-size: 21px;
    font-weight: 700;
    font-style: italic;
    font-family: Times New Roman Bold;
}
.content {
    font-size: 14px;
}
.floated-image {
    float: right;
    margin-left: 5px;
}
.floated-image-2 {
    float: right;
    margin-left: 15px;
}
.blue-comments {
    margin-bottom: 12px ;
    font-size: 12px;
    color: #2B28E1;
}
@media screen and (min-width: 1101px) {
    .c-main-articles-container {
        width: 40%;
        min-width: 400px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 1100px) {
    .c-main-articles-container {
        width: 50%;
        min-width: 400px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 1000px) {
    .c-main-articles-container {
        width: 65%;
        min-width: 400px;
        padding-right: 0;
    }
}
@media screen and (max-width: 730px) {
    .c-main-articles-container {
        width: 100%;
        /* min-width: 400px; */
        padding-right: 0;
    }
}
.pic-width {
    width: 100%;
}
.image-caption {
    margin-bottom: 2px;
    font-size: 12px;
    font-family: Times New Roman;
    color: #474749;
}
.c1-headline {
    margin: 10px 0 5px 0;
    font-size: 19px;
    font-weight: 700;
    font-family: Times New Roman;
}
.c2-headline {
    margin: 10px 0 5px 0;
    font-size: 15px;
    font-weight: 700;
    font-family: Times New Roman;
}
.pictures-of-the-day {
    margin: 2px 0 7px 0;
    font-size: 13px;
    font-weight: 700;
}
.evening-briefing-pic-citation {
    font-size: 9px;
    font-family: Times New Roman;
    color: #D1D1D1;
}
@media screen and (min-width: 1101px) {
    .rs-main-articles-container {
        margin-left: 13px;
        width: 40%;
        min-width: 375px;
        padding-left: 12px;
        border-left: 1px solid #D1D1D1;
    }
}
@media screen and (max-width: 1100px) {
    .rs-main-articles-container {
        margin-left: 3px;
        width: 20%;
        max-width: 275px;
        padding-left: 2px;
        border-left: 1px solid #D1D1D1;
    }
}
@media screen and (max-width: 1000px) {
    .rs-main-articles-container {
        display: none;
    }
}
@media screen and (min-width: 1101px) {
    .opinion-articles {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #CFCFCF;
    }
}
@media screen and (max-width: 1100px) {
    .opinion-articles {
        padding-bottom: 20px;
        flex-direction: column;
        border-bottom: 2px solid #CFCFCF;
    }
}
@media screen and (min-width: 1101px) {
    .opinion-article-2 {
        margin-left: 25px;
        padding-left: 13px;
        border-left: 1px solid #D1D1D1;
    }
}
@media screen and (max-width: 1100px) {
    .opinion-article-2 {
        margin-top: 30px;
        margin-left: 0;
        padding-left: 13px;
        border-left: none;
    }
}
@media screen and (max-width: 1100px) {
    .opinion-article-1 {
      margin-left: 0;
      padding-left: 13px;
      border-left: none;
    }
}
.rs-article-1 {
    margin-bottom: 15px;
}
.opinion-pages-title {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    font-family: Times New Roman;
    display: flex;
    justify-content: center;
}
.r1-opinion-headline {
    margin: 3px 0;
    font-size: 15px;
    font-weight: 700;
    font-family: Times New Roman;
}
.opinion-link-1 {
    margin: 10px 0 0 10px;
    font-size: 10px;
    font-weight: 700;
    font-family: Times New Roman;
}
.opinion-link {
    margin: 3px 0 0 10px;
    font-size: 10px;
    font-weight: 700;
    font-family: TimesNew Roman;
}
.watching-headline {
    margin: 6px 0;
    font-size: 17px;
    font-weight: 700;
    font-family: Gill Sans;
}
.divide {
    margin: 10px 0 0 20px;
    display: flex;
    justify-content: flex-front;
}
.one-hour {
    font-size: 12px;
    color: #6B6A6A;
}
.watching-pic-citation {
    margin-left: 115px;
    font-size: 9px;
    font-family: Times New Roman;
    color: #D1D1D1;
}
.watching-description {
    margin: 7px 0 0 23px;
    font-size: 12px;
    font-family: arial;
}
